.PaletteShades {
	height: 100vh;
	overflow: hidden;
	.palette-colors {
		height: 75%;
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 0.2rem;
		padding: 1rem;
	}
	.back-box {
		height: 10rem;
		text-align: center;
		background: rgb(2, 0, 36);
		background: white;
		display: flex;
		align-items: center;
		justify-content: center;
		.back-btn {
			text-decoration: none;
			padding: 1rem;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			color: peachpuff;
			transition: transform 0.5s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
