.PaletteShades {
	height: 100vh;
	overflow: hidden;
	.palette-colors {
		height: 80%;
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 0.2rem;
	}
	.back-box {
		text-align: center;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			149deg,
			rgba(2, 0, 36, 1) 20%,
			rgba(71, 71, 157, 1) 53%,
			rgba(0, 212, 255, 1) 100%
		);
		display: flex;
		align-items: center;
		justify-content: center;
		.back-btn {
			text-decoration: none;
			padding: 1rem;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			color: peachpuff;
			transition: transform 0.5s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
