.PaletteShades {
	min-height: 100vh;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.palette-colors {
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 0.2rem;
		padding: 1rem;
		height: 100%;
	}
	.back-box {
		height: 10rem;
		text-align: center;
		background: rgb(187, 185, 240);
		background: white;
		display: flex;
		align-items: center;
		justify-content: center;
		.back-btn {
			text-decoration: none;
			padding: 1rem;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			color: peachpuff;
			transition: transform 0.5s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

@media (max-width: 630px) {
	.PaletteShades {
		.palette-colors {
			grid-template-columns: repeat(3, auto);
		}
	}
}

@media (max-width: 363px) {
	.PaletteShades {
		.palette-colors {
			display: flex;
			flex-direction: column;
		}
	}
}
