.PaletteFormNav {
	h6 {
		display: inline-block;
		width: 20%;
	}
	.validator-form {
		display: flex;
		justify-content: space-between;
		width: 100%;
		.button-group {
			margin-left: auto;

			button {
				margin: 0.5rem;
			}
		}
	}
}
