.PaletteList {
	background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	height: 100vh;
	.palettes-container {
		padding: 1rem;
		// margin: 0.5rem auto;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(5, auto);
		align-items: center;
		justify-content: center;
	}
	a {
		text-decoration: none;
		// display: inline;
	}
}
