.Navbar {
	display: flex;
	margin-bottom: 0.5rem;
	height: 10vh;

	.select-container {
		margin-left: auto;
		align-self: center;
	}

	.slider-container {
		padding: 0.5rem;
		width: 50%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.slider {
			width: 80%;
			.rc-slider-rail {
				height: 8px;
			}
			.rc-slider-handle {
				background: peachpuff;
			}
		}
	}
}
