.Palette {
	height: 80vh;
	margin: 0 1rem;

	.palette-colors {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 0.2rem;
	}
}

.palette-footer {
	border-top: 1px solid peru;
	margin-top: 2px;
	text-align: center;
}
