.MiniPalette {
	border-radius: 5px;
	padding: 0.5rem;
	background: white;
	position: relative;
	.DeleteIcon {
		background: rgba(10, 10, 10, 0.8);
		border-radius: 5px;
		color: peachpuff;
		position: absolute;
		right: 4px;
		opacity: 0;
		&:hover {
			transform: scale(1.2);
			transition: transform 0.4s ease-in-out;
			color: red;
		}
	}
	.colors-container {
		display: grid;
		grid-template-columns: repeat(5, auto);

		.color-box {
			padding: 1rem;
		}
	}
	.palette-name {
		text-align: center;
	}
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
		.DeleteIcon {
			opacity: 1;
		}
	}
}
